{% extends 'userprofile/profile.html' %}

{% load static %}
{% block css %}
<link href="{% static 'mngr/profile.css' %}" rel="stylesheet" media="screen">
<!-- jQuery -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
{% endblock %}

{% block title %}{{ userprofile.first_name }}{% endblock %}

{% block box %}
	<section>
		<div style="width: 95%;">
			<div class="col-xs-12 col-md-12">
				<div>
					<div>
						<h3>Edit Profile</h3>
						<!-- Error messaging -->
						<div id="errors">
							<div class="inner">
								<ul>
								{% if pform.errors %}
									<li class="text-danger small">{{ pform.non_field_errors }}</li>
									{% for field in pform %}
										{% if field.errors %}<li class="text-danger small">{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
									{% endfor %}
								{% endif %}
								</ul>
							</div>
						</div> 
						<!-- /Error messaging -->
						
						<form style="width: 100%; margin: 2%;" class="form-horizontal" action="" method="post" enctype="multipart/form-data">
							{% csrf_token %}
							{% for field in pform %}
								<div class="form-group">
									<label class="control-label col-sm-4">{{ field.label_tag }}</label>
									<div class="col-sm-3" style="width: 100%;">{{ field }}</div>
									<div class="col-sm-5">
										<span style="font-size:0.5625em;line-height:0.9375em;" class="helptext">{{ field.help_text }}</span>
									</div>
								</div>
							{% endfor %}
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<button type="submit" class="btn btn-success">Submit</button>
								</div>
							</div>
						</form>

					</div>
				</div>
			</div>

		</div>
	</section>
{% endblock %}
