{% extends 'base.html' %}

{% load static %}

{% block main %}
<style>
  #my-header {
    text-align: center;
    width: 100%;
    /* margin-top: 100px; */
    color: #ffffff;
    height: 60vh;
    background: linear-gradient(rgba(42, 40, 108, 0.4), rgba(53, 51, 109, 0.6)), url('{% static "images/company/reg-class.jpg" %}');
    background-repeat: no-repeat;
    background-size: cover;
  }

  #my-header h2 {
    padding-top: 10%;  
    }
</style>
<section>
  <div id="my-header">
    <h2 class="my-4">OUR SEASONED LECTURERS</h2>
  </div>
</section>
<section>
  <div id="show-cased">
      {% for pers in object_list %}
      <div class="show-cased">
          <article class="masonry__brick entry format-standard" data-aos="fade-up">
                  
              <div class="entry__thumb">
                  <a href="#0" class="entry__thumb-link">
                      <img src="{{ pers.picture.url }}" alt="">
                  </a>
              </div>

              <div class="entry__text">
                  <div class="entry__header">
                      
                      <div class="entry__date">
                          {{ pers.name }}
                      </div>
                      <strong class="entry__title">{{ pers.position }}</strong>
                      
                  </div>
                  <div class="entry__excerpt">
                      {{ pers.description|truncatechars_html:300|striptags }}
                      <a href="{% url 'management:lecturer' pers.id %}">Read more</a>
                  </div>
              </div>
          </article> <!-- end article -->
      </div>
      {% endfor %}
  </div>
  {% if object_list.has_other_pages %}
  <div class="row">
      <div class="col-full">
          <nav class="pgn">
              <ul>
                  {% if object_list.has_previous %}
                  <li><a class="pgn__prev" href="?page={{ object_list.previous_page_number }}">Prev</a></li>
                  {% else %}
                  <li><span class="pgn__prev">Prev</span></li>
                  {% endif %}
                  {% for page in object_list.paginator.page_range %}
                      {% if object_list.number == page %}
                      <li><span class="pgn__num current">{{ page }}</span></li>
                      {% else %}
                      <li><a class="pgn__num" href="?page={{ page }}">{{ page }}</a></li>
                      {% endif %}
                  {% endfor %}
                  {% if object_list.has_next %}
                  <li><a class="pgn__next" href="?page={{ object_list.next_page_number }}">Next</a></li>
                  {% else %}
                  <li><span class="pgn__next">Next</span></li>
                  {% endif %}
              </ul>
          </nav>
      </div>
  </div>
  {% endif %}

</section>
{% endblock %}
