<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>LegacyTutors - {% block title %}Home{% endblock %}</title>

    <!-- Loads the path to static files -->
    {% load static %}
    <link rel="icon" href="{% static 'images/logo.png' %}" />

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'owl/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'owl/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'general/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/simplePagination.css' %}">
    {% block css %}{% endblock %}
    
    <!-- Optional theme -->
<!--     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
 -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="{% static 'general/main.css' %}">

    <meta name="theme-color" content="#0291e6" />
  </head>
  <body>
    <!-- Header Start -->
    <header>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <!-- header Nav Start -->
            <nav class="navbar navbar-default">
              <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Menu</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="index.html">
                    <img src="{% static 'images/logo1.png' %}" alt="LegacyTutors">
                  </a>
                </div>
                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                      <li class="{% block home_active %}{% endblock %}">
                          <a class="page-scroll" href="{% url 'general:index' %}">
                              <span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp; Home
                          </a>
                      </li>
                      <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; 
                          Students
                          <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                          <li><a href="{% url 'userprofile:register' %}">Register</a></li>
                          <li><a href="{% url 'login' %}">Login</a></li>
                        </ul>
                      <li>
                        <a href="{% url 'general:testimony' %}">
                          <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>&nbsp; Testimonials
                        </a>
                      </li>
                      <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                          <span class="glyphicon glyphicon-education" aria-hidden="true"></span>&nbsp; 
                          About Us
                          <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                          <li><a href="{% url 'general:about' %}">Who We Are</a></li>
                          <li><a href="{% url 'general:team' %}">Our Team</a></li>
                          <li><a href="{% url 'general:lecturers' %}">Lecturers</a></li>
                          <li><a href="{% url 'general:facilities' %}">Facilities</a></li>
                          <li><a href="{% url 'general:gallery' %}">Gallery</a></li>
                        </ul>
                      </li>
                      <li class="{% block contact_active %}{% endblock %}">
                          <a class="page-scroll" href="{% url 'general:contact' %}">
                              <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp; CONTACT
                          </a>
                      </li>
                    </ul>
                  </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
              </nav>
            </div>
          </div>
        </div>
      <div>
        <marquee>
          <strong style="color:#5e1a1a; font-size:2em;">
              We have been inundated with calls from prospective students, former students and other well 
              wishers reporting some people misrepresenting LEGACY TUTORS via some phone numbers purportedly gotten online. 
              While we are working on getting the identity of such miscreants and reporting them to the relevant authorities 
              we can confirm to you that the following numbers are the only phone contacts of LEGACY TUTORS: 0708 754 4904, 
              0703 891 7831 and 0802 322 6913. 
              You can also visit us on www.legacytutors.com or send us email on legacyassociates@ymail.com
              NB: Please do well to report to us; any such number or persons misrepresenting our noble Tuition Centre. Thank you
            </strong>
        </marquee>
      </div>
      </header><!-- header close -->
  {% block body %}

  {% endblock %}
  

   <!-- footer Start -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="footer-menu">
              <ul>
                <li>
                  <a href="#"><span class="fa fa-linkedin" aria-hidden="true"></span>&nbsp;</a>
                </li>
                <li>
                  <a href="https://www.instagram.com/legacytutors"><span class="fa fa-instagram" aria-hidden="true"></span>&nbsp;</a>
                </li>
                <li>
                  <a href="#"><span class="fa fa-twitter" aria-hidden="true"></span>&nbsp;</a>
                </li>
                <li>
                  <a href="https://www.facebook.com/legacy.tutors.3/#"><span class="fa fa-facebook" aria-hidden="true"></span>&nbsp;</a>
                </li>
              </ul>
            </div>
            <p>LegacyTutors 2017-<script>document.write(new Date().getFullYear())</script> &copy;  by <a href="http://diamantemine.org/">DML</a>.</p>
          </div>
        </div>
      </div>
    </footer>
    

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/0.1.12/wow.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'owl/owl.carousel.min.js' %}"></script>
    <script src="{% static 'general/main.js' %}"></script>
    <script src="{% static 'css/jquery.simplePagination.js' %}"></script>
    {% block script %}{% endblock %}

    

  </body>
</html>